
<ion-view title="Dashboard" id="page2">
    <!-- <ion-nav-buttons side="right">
        <button class="button button-outline  button-balanced" ng-click="showCard()"> Upload File  <i class="mdi mdi-arrow-up-bold"></i></button>
      </ion-nav-buttons> -->
      <!-- <button class="button button-outline  button-assertive" ng-show="uploadfilecard" ng-click="showCard()"> Hide card  <i class="mdi mdi-close-circle-outline"></i></button> -->
  <ion-content padding="true" class="has-header" overflow-scroll="true" style="background-color: #f0f3f6">

      <div class="col-12 grid-margin" ng-show="uploadfilecard"> 
          <div class="card">
              <div class="card-body">
                  <div class="float-none float-sm-right"><i class="mdi mdi-close-circle-outline" ng-click="showCard()" >Close</i></div>
                <!-- form group -->
                  <div class="form-group">
                      <label>File upload</label>
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info" ngf-select ng-model="file" placeholder="Upload file" onchange="angular.element(this).scope().checkfile(this.files)">
                          <button class="file-upload-browse btn" ng-class="{btnDisabled:  !validFile, btnSuccess: validFile}" ng-disabled="!validFile" ng-click="uploadFile(this.file)" type="button"><i class="mdi mdi-arrow-up-bold"></i></button>
                      </div>
                      <p ng-show="errorAnnouncement.uploadfile ||  serverResponse.processStep == 'UploadError' || serverResponse.processStep == 'Failure' " class="text-danger"> Error. {{errorAnnouncement.uploadfile}} {{errorAnnouncement.processFailure}}</p>
                    </div>  
                    <div ng-show="validFile">
                    <p class="text-success font-weight-bold ng-binding">File preview </p><audio controls ngf-src="file"></audio> <video controls ngf-src="file"></video>
                  </div>
                <!--  -->
                <div ng-show="!serverResponse.success && serverResponse.processStep == 'Uploading' ">             
                    <h5 class="text-info mb-4 mt-4">{{serverResponse.fileName}} is being uploaded to the server.</h5>
                    <p class="text-info font-weight-bold">{{serverResponse.processStep}}. This step can take a while.</p>     
                </div>
                <!--  -->
                <div ng-show="serverResponse.success && serverResponse.processStep == 'Transcribing' ">             
                  <h5 class="text-warning mb-4 mt-4">{{serverResponse.fileName}} has been uploaded.</h5>
                  <p class="text-warning font-weight-bold">{{serverResponse.processStep}}. This step can take a while.</p>     
              </div>
                <!--  -->
                <div ng-show="serverResponse.success && serverResponse.processStep == 'Done' ">             
                    <h5 class="text-success mb-4 mt-4">{{serverResponse.fileName}} has been processed.</h5>
                    <p class="text-success font-weight-bold ng-binding">Process step: Done. <a href="#/details/c483e6fb-236b-42d4-a885-c63fbadb1ef6" class="float-none float-sm-right"><button class="btn btn-success" type="button">Details</button></a></p>
                </div>
                <!--  -->
              </div>
          </div>
      </div>       

      <div class="row">
        <div class="col-lg-4 d-flex grid-margin stretch-card">
          <div class="card sale-diffrence-border">
            <div class="card-body">
              <h2 class="text-dark mb-2 font-weight-bold">$1400</h2>
              <h4 class="card-title mb-2">Monthly Expenses</h4>
              <small class="text-muted">Sept 2019</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex grid-margin stretch-card">
          <div class="card bg-success">
            <div class="card-body text-white">
              <h3 class="font-weight-bold mb-3">$248</h3>
              <div class="progress mb-3">
                <div class="progress-bar  bg-warning" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="pb-0 bold mb-0"><b>Savings</b></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex grid-margin stretch-card">
          <div class="card sale-visit-statistics-border">
            <div class="card-body">
              <h2 class="text-dark mb-2 font-weight-bold">$20,000</h2>
              <h4 class="card-title mb-2">Student Debt</h4>
              <small class="text-muted">Since APRIL 2013</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
      <div class=" col-lg-6  grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liabilities trend</h4>
            <canvas id="areaChart"></canvas>
          </div>
        </div>
      </div>

      <div class=" col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Spending trend</h4>
            <canvas id="areachart-multi"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-8 card">
        <div class="card-body">
          <h4 class="card-title">Savings Recommendations Table</h4>
          <p class="card-description">
            <code>Follow these recommendations for today</code>
          </p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Vencor
                  </th>
                  <th>
                    Category
                  </th>
                  <th>
                    Potential Saving
                  </th>
                  <th>
                    Expected Expense
                  </th>
                  <th>
                    Savings
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-1">
                    <img src="../../images/faces/face1.jpg" alt="image"/>
                  </td>
                  <td>
                    Breakfast
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    $ 15
                  </td>
                  <td>
                    $5
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../images/faces/face2.jpg" alt="image"/>
                  </td>
                  <td>
                    Lunch
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    $24.5
                  </td>
                  <td>
                    $20
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../images/faces/face3.jpg" alt="image"/>
                  </td>
                  <td>
                    Dinner
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    $30
                  </td>
                  <td>
                    $20
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../images/faces/face4.jpg" alt="image"/>
                  </td>
                  <td>
                    Entertainment
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    $ 18
                  </td>
                  <td>
                    $12
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../images/faces/face5.jpg" alt="image"/>
                  </td>
                  <td>
                    Shopping
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    $ 160
                  </td>
                  <td>
                    $25
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0">
        <div class="card congratulation-bg text-center">
          <div class="card-body pb-0">
            <img src="images/dashboard/face29.png" alt="">  
            <h2 class="mt-3 text-white mb-3 font-weight-bold">Congratulations
              Johnson
            </h2>
            <p>You have saved $248 so far this month. 
              Keep up with better spending habits to reach your monthly savings goals.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-lg-8 card">
    <div class="card-body">
      <h4 class="card-title">Recommended</h4>
      <div ng-repeat="business in alternativeBusiness" class="d-flex align-items-center pb-3 border-bottom">
        <img class="img-sm rounded-circle" src="{{business.TemplateData.Image.URL}}" alt="profile">
        <div class="ml-3">
          <h6 class="mb-1">{{business.TemplateData.Title}}</h6>
          <small class="text-muted mb-0"><i class="mdi mdi-map-marker mr-1"></i>{{business.TemplateData.BodyText}}</small>
        </div>
        <i class="mdi mdi-check-circle-outline font-weight-bold ml-auto px-1 py-1 text-info mdi-24px"></i>
      </div>
    </div>
      </div>
    </div>

      <!-- <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Search for Audio or Video files </h4>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search your files" ng-model="inputValue" aria-label="Search your files">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" ng-click="search(inputValue)" type="button">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 grid-margin" ng-show="errorAnnouncement.getallItems">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4 mt-4 error-heading">Oops! Something went wrong</h3>
                    <p>{{errorAnnouncement.getallItems}}</p>                    
                </div>
            </div>
        </div>

    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Files</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr ng-hide="(files.items==null) || (searchResults && searchResults.data.items == null)">
                  <th>
                    Icon
                  </th>
                  <th>
                    File name
                  </th>
                  <th>
                    Sentiment
                  </th>
                  <th>
                    Date uploaded
                  </th>
                </tr>
              </thead>
              <tbody ng-hide="searchResults">
                <tr ng-repeat="item in files.items | orderBy: '-fileUploadDateMillis'">
                  <td class="py-1">
                    <img src="../images/faces/face1.jpg" alt="image"/>
                  </td>
                  <td>
                    {{item.fileName}}
                  </td>
                  <td>
                    {{item.sentiment}}
                  </td>
                  <td>
                    {{item.DateUploaded}}
                  </td>
                  <td>
                    <a href="#/details/{{item.itemId}}/{{sessionID}}"><button class="btn btn-sm btn-primary" type="button">Details</button></a>
                  </td>
                </tr>
              </tbody>
              <tbody ng-show="searchResults">
                  <tr ng-if="searchResults.data.items != null" ng-repeat="item in searchResults.data.items | orderBy: '-fileUploadDateMillis'">
                    <td class="py-1">
                      <img src="../images/faces/face1.jpg" alt="image"/>
                    </td>
                    <td>
                      {{item.fileName}}
                    </td>
                    <td>
                      {{item.sentiment}}
                    </td>
                    <td>
                      {{item.DateUploaded}}
                    </td>
                    <td>
                      <a href="#/details/{{item.itemId}}/{{sessionID}}"><button class="btn btn-sm btn-primary" type="button">Details</button></a>
                    </td>
                  </tr>
                </tbody>
                <div ng-show="(files.items==null) || (searchResults && searchResults.data && searchResults.data.items == null)">
                    <div class="row float-none float-sm-right text-center">
                        <div class="col-md-11">
                    No Files found.
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-primary" ng-click="reset();inputValue='' " type="button"> Reset</button>
                        </div>

                </div>
            </table>
          </div>
        </div>
      </div>
    </div> -->
    <!--  -->
    <!-- <input type="file" name="file" class=" btn btn-success btn-xs glyphicon glyphicon-upload" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->
    <!--  -->
    <!-- Here is server data {{serverResponse}} -->
  </ion-content>
</ion-view>
