<ion-view title="{{ authData ? 'Hello ' + authData.displayName + '!' : 'Login'}}" id="page10">

  <ion-content padding="true" class="has-header">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel">
          <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                  <div class="brand-logo">
                    <center><img src="img/profile.png" alt="logo">
                      <h2>SpendWise</h2>
                    </center>
                    
                  </div>
                  <h4>Hello! let's get started</h4>
                  <h6 class="font-weight-light">Sign in to continue.</h6>
                  <form class="pt-3">
                    <div class="mb-2">
                      <button type="button" class="btn btn-block btn-google auth-form-btn" ng-click="login()">
                        <i class="mdi mdi-google mr-2"></i>Connect using Google
                      </button>
                    </div>
                    <div class="text-center mt-4 font-weight-light">
                      Don't have an account? <a href="register.html" class="text-primary">Create</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </ion-content>
</ion-view>
