<ion-view title="{{ authData ? 'Hello ' + authData.displayName + '!' : 'Login'}}" id="page10">

  <ion-content padding="true" class="has-header">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel">
          <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                  <div class="brand-logo">
                    <center><img src="img/profile.png" alt="logo">
                      <h2>CostCurve</h2>
                    </center>
                    
                  </div>
                  <h4 style="text-align: center;">Hello! let's get started</h4>
                  <h6 class="font-weight-light" style="text-align: center;">Sign in to continue.</h6>
                  <form class="pt-3">
                    <div class="mb-2">
                      <button type="button" class="btn btn-block auth-form-btn" ng-click="login()" ">
                          <img src="https://cdn.cookielaw.org/logos/aa498dad-1691-4c3b-894a-906c990be323/eab8b6ff-57d6-438a-a7e5-c58dd370ce73/000d8b20-8c3d-4f4f-a0da-5b515f8f20d2/Square_combinationmark_black.png" style="height: 70px; box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1); border: 1px solid black;" alt="logo">
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </ion-content>
</ion-view>
