<ion-view title="Request a New Meal" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="requestANewMeal-form4" class="list">
      <ion-item class="item-divider" id="requestANewMeal-list-item-divider8"> What would you like to eat today?</ion-item>
      <label class="item item-input" id="requestANewMeal-input1">
        <span class="input-label">Meal Name</span>
        <input type="text" placeholder="What would you like to eat today?">
      </label>
      <label class="item item-input" id="requestANewMeal-textarea2">
        <span class="input-label">Description</span><textarea placeholder="Describe your meal"></textarea></label>
      <label class="item item-select" id="requestANewMeal-select1">
        <span class="input-label">Allergies</span>
        <select>
          <option>Nuts</option>
          <option>Dairy</option>
          <option>Soy</option>
          <option>Eggs</option>
          <option>Shellfish</option>
          <option>Wheat</option>
          <option>Rice</option>
          <option>Fruits</option>
          <option>Others</option>
        </select>
      </label>
      <ion-item class="item-divider" id="requestANewMeal-list-item-divider9"> </ion-item>
      <label class="item item-input" id="requestANewMeal-input3">
        <span class="input-label">Serving Size</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="requestANewMeal-input4">
        <span class="input-label">Price</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="requestANewMeal-input5">
        <span class="input-label">Pick-up Time</span>
        <input type="time" placeholder="">
      </label>
    </form>
    <div id="requestANewMeal-button-bar2" class="button-bar">
      <a ui-sref="tabsController.ordersAndStatus" id="requestANewMeal-button10" class="button button-balanced  button-block">Post</a>
    </div>
  </ion-content>
</ion-view>