<ion-view >

  <ion-tabs>
    <ion-tab >
      <ion-nav-view name="chefsNearbyTab"></ion-nav-view>
    </ion-tab>

    <ion-tab>
      <ion-nav-view name="detailsTab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <!-- <ion-tabs ng-show="user.type === 'chef'" class="tabs-positive tabs-icon-top">
    <ion-tab title="Create Your Meal" icon="ion-fork" ui-sref="tabsController.createYourMeal">
      <ion-nav-view name="createMealTab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Cart Order" icon="ion-ios-cart" ui-sref="tabsController.orderCart">
      <ion-nav-view name="chefOrdersTab"></ion-nav-view>
    </ion-tab>
  </ion-tabs> -->

</ion-view>
