<ion-view title="Users Nearby" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-map" ui-sref="tabsController.usersNearby2"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="usersNearby-form5" class="list">
      <label class="item item-input" id="usersNearby-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="usersNearby-card21">
      <ion-item class="item-avatar item-icon-right" id="usersNearby-list-item14">
        <img src="img/yY9e6PJPTnGte2BPe2SC_20160728_171634.jpg">
        <h2>UserName</h2>
        <p style="white-space:normal;">meal name</p>
        <i class="icon ion-cash"></i>
      </ion-item>
      <div class="item item-body" id="usersNearby-list-item-container3">
        <div id="usersNearby-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Description of Meal I would like to eat vegetarian pizaa today with fresh tomatoes, onions, peppers, olives and cheese. </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right dark" id="usersNearby-list-item15" ui-sref="tabsController.requestedMeal">
        <i class="icon ion-android-locate"></i>1 km
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
    </div>
    <div class="list card" id="usersNearby-card22">
      <ion-item class="item-avatar item-icon-right" id="usersNearby-list-item26">
        <img src="img/fYPuObcYRDakze9hi5KM_12356692_10153256369867546_2569264182024613135_o.jpg">
        <h2>UserName</h2>
        <p style="white-space:normal;">meal name</p>
        <i class="icon ion-cash"></i>
      </ion-item>
      <div class="item item-body" id="usersNearby-list-item-container5">
        <div id="usersNearby-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Description of Meal:</p>

          <p style="color:#000000;">I would like to eat pasta with salsa sause. </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right dark" id="usersNearby-list-item27" ui-sref="tabsController.requestedMeal">
        <i class="icon ion-android-locate"></i>1 km
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
    </div>
    <div class="list card" id="usersNearby-card23">
      <ion-item class="item-avatar item-icon-right" id="usersNearby-list-item28">
        <img src="img/JhGFovozQMauB3bY5ddG_12356692_10153256369867546_2569264182024613135_o.jpg">
        <h2>UserName</h2>
        <p style="white-space:normal;">meal name</p>
        <i class="icon ion-cash"></i>
      </ion-item>
      <div class="item item-body" id="usersNearby-list-item-container6">
        <div id="usersNearby-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Description of Meal:</p>

          <p style="color:#000000;">Indian food with rice</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right dark" id="usersNearby-list-item29" ui-sref="tabsController.requestedMeal">
        <i class="icon ion-android-locate"></i>1 km
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
    </div>
    <div class="list card" id="usersNearby-card24">
      <ion-item class="item-avatar item-icon-right" id="usersNearby-list-item30">
        <img src="img/WLUWlUVTRrS7ugK9PWb6_12356692_10153256369867546_2569264182024613135_o.jpg">
        <h2>UserName</h2>
        <p style="white-space:normal;">meal name</p>
        <i class="icon ion-cash"></i>
      </ion-item>
      <div class="item item-body" id="usersNearby-list-item-container7">
        <div id="usersNearby-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Description of Meal I would like to ear vegetarian pizaa today with fresh tomatoes, onions, peppers, olives and cheese. </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right dark" id="usersNearby-list-item31" ui-sref="tabsController.requestedMeal">
        <i class="icon ion-android-locate"></i>1 km
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>